<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CeltaWare.LogServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CeltaWare.LogServices.Properties.Settings>
            <setting name="ServiceName" serializeAs="String">
                <value>OpenVPN</value>
            </setting>
            <setting name="Customer" serializeAs="String">
                <value>CeltaWare</value>
            </setting>
            <setting name="TimeInterval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UrlValidaTeste" serializeAs="String">
                <value />
            </setting>
        </CeltaWare.LogServices.Properties.Settings>
    </userSettings>
</configuration>