<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CeltaWare.MonitorLogServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CeltaWare.MonitorLogServices.Properties.Settings>
            <setting name="IntervaloAtualizacao" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NomeServico" serializeAs="String">
                <value>CeltaWare</value>
            </setting>
            <setting name="UrlValidaTeste" serializeAs="String">
                <value>http://10.10.2.85:9092/bsf</value>
            </setting>
        </CeltaWare.MonitorLogServices.Properties.Settings>
    </userSettings>
</configuration>